In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Hoboken_weekday.xlsx")

In [3]:
path = df.PATH_arrival_Hoboken_weekday

In [4]:
lightrail = df.lightrail_departure_Hoboken_weekday

In [5]:
lightrail.d`ropna(inplace = True)

In [17]:
path

0       6:44AM
1       6:54AM
2       7:04AM
3       7:14AM
4       7:24AM
5       7:30AM
6       7:36AM
7       7:43AM
8       7:50AM
9       7:58AM
10      8:06AM
11      8:13AM
12      8:20AM
13      8:27AM
14      8:34AM
15      8:41AM
16      8:48AM
17      8:55AM
18      9:02AM
19      9:09AM
20      9:16AM
21      9:23AM
22      9:30AM
23      9:37AM
24      9:46AM
25      9:56AM
26     10:06AM
27     10:16AM
28     10:26AM
29     10:36AM
        ...
80      6:24PM
81      6:31PM
82      6:38PM
83      6:45PM
84      6:52PM
85      6:59PM
86      7:06PM
87      7:16PM
88      7:26PM
89      7:36PM
90      7:46PM
91      7:56PM
92      8:06PM
93      8:16PM
94      8:26PM
95      8:36PM
96      8:46PM
97      8:56PM
98      9:06PM
99      9:16PM
100     9:26PM
101     9:36PM
102     9:49PM
103    10:04PM
104    10:19PM
105    10:34PM
106    10:49PM
107    11:04PM
108    11:19PM
109    11:39PM
Name: PATH_arrival_Hoboken_weekday, Length: 110, dtype: object

In [18]:
lightrail

0     06:44 AM
1     06:58 AM
2     07:14 AM
3     07:27 AM
4     07:43 AM
5     07:56 AM
6     08:13 AM
7     08:26 AM
8     08:43 AM
9     08:58 AM
10    09:12 AM
11    09:23 AM
12    09:40 AM
13    09:52 AM
14    10:04 AM
15    10:24 AM
16    10:44 AM
17    11:04 AM
18    11:24 AM
19    11:44 AM
20    12:04 PM
21    12:24 PM
22    12:44 PM
23    01:04 PM
24    01:24 PM
25    01:44 PM
26    02:04 PM
27    02:24 PM
28    02:44 PM
29    03:04 PM
30    03:19 PM
31    03:32 PM
32    03:46 PM
33    04:04 PM
34    04:14 PM
35    04:29 PM
36    04:45 PM
37    05:01 PM
38    05:14 PM
39    05:27 PM
40    05:44 PM
41    05:59 PM
42    06:15 PM
43    06:32 PM
44    06:45 PM
45    06:58 PM
46    07:12 PM
47    07:37 PM
48    08:07 PM
49    08:37 PM
50    09:07 PM
51    09:37 PM
52    10:07 PM
53    10:37 PM
54    11:07 PM
55    11:37 PM
56    12:07 AM
Name: lightrail_departure_Hoboken_weekday, dtype: object

In [6]:
lightrail.reset_index(inplace = True, drop = True)

In [7]:
def path_time_to_int(time_string):
    if time_string[-2:] == 'AM':
        PM_addition = 0
    else:
        PM_addition = 12 * 60
    split = time_string.split(':')
    return (int(split[0]) % 12) * 60 + int(split[1][0:2]) + PM_addition

In [19]:
path[10]

'8:06AM'

In [25]:
path_time_to_int('8:06PM')

1206

In [26]:
8*60+6+12*60

1206

In [8]:
def lr_time_to_int(time_string):
    if time_string[-3:-1] == 'AM':
        PM_addition = 0
    else:
        PM_addition = 12 * 60
    split = time_string.split(':')
    return (int(split[0][0:2]) % 12) * 60 + int(split[1][0:2]) + PM_addition

In [9]:
def int_to_time_string(integ):
    hour = integ // 60
    minute = integ % 60
    return str(hour) + ':' + str(minute)

In [27]:
int_to_time_string(1206):

SyntaxError: invalid syntax (<ipython-input-27-5ced2cda485b>, line 1)

In [10]:
path_ints = path.map(path_time_to_int).sort_values()

In [11]:
lr_ints = lightrail.map(lr_time_to_int).sort_values()

In [12]:
path_ints

0       404
1       414
2       424
3       434
4       444
5       450
6       456
7       463
8       470
9       478
10      486
11      493
12      500
13      507
14      514
15      521
16      528
17      535
18      542
19      549
20      556
21      563
22      570
23      577
24      586
25      596
26      606
27      616
28      626
29      636
       ...
80     1104
81     1111
82     1118
83     1125
84     1132
85     1139
86     1146
87     1156
88     1166
89     1176
90     1186
91     1196
92     1206
93     1216
94     1226
95     1236
96     1246
97     1256
98     1266
99     1276
100    1286
101    1296
102    1309
103    1324
104    1339
105    1354
106    1369
107    1384
108    1399
109    1419
Name: PATH_arrival_Hoboken_weekday, Length: 110, dtype: int64

In [13]:
lightrail

0     06:44 AM
1     06:58 AM
2     07:14 AM
3     07:27 AM
4     07:43 AM
5     07:56 AM
6     08:13 AM
7     08:26 AM
8     08:43 AM
9     08:58 AM
10    09:12 AM
11    09:23 AM
12    09:40 AM
13    09:52 AM
14    10:04 AM
15    10:24 AM
16    10:44 AM
17    11:04 AM
18    11:24 AM
19    11:44 AM
20    12:04 PM
21    12:24 PM
22    12:44 PM
23    01:04 PM
24    01:24 PM
25    01:44 PM
26    02:04 PM
27    02:24 PM
28    02:44 PM
29    03:04 PM
30    03:19 PM
31    03:32 PM
32    03:46 PM
33    04:04 PM
34    04:14 PM
35    04:29 PM
36    04:45 PM
37    05:01 PM
38    05:14 PM
39    05:27 PM
40    05:44 PM
41    05:59 PM
42    06:15 PM
43    06:32 PM
44    06:45 PM
45    06:58 PM
46    07:12 PM
47    07:37 PM
48    08:07 PM
49    08:37 PM
50    09:07 PM
51    09:37 PM
52    10:07 PM
53    10:37 PM
54    11:07 PM
55    11:37 PM
56    12:07 AM
Name: lightrail_departure_Hoboken_weekday, dtype: object

In [14]:
lr_ints

56       7
0      404
1      418
2      434
3      447
4      463
5      476
6      493
7      506
8      523
9      538
10     552
11     563
12     580
13     592
14     604
15     624
16     644
17     664
18     684
19     704
20     724
21     744
22     764
23     784
24     804
25     824
26     844
27     864
28     884
29     904
30     919
31     932
32     946
33     964
34     974
35     989
36    1005
37    1021
38    1034
39    1047
40    1064
41    1079
42    1095
43    1112
44    1125
45    1138
46    1152
47    1177
48    1207
49    1237
50    1267
51    1297
52    1327
53    1357
54    1387
55    1417
Name: lightrail_departure_Hoboken_weekday, dtype: int64

In [15]:
path_time_to_int(path[10])

486

In [16]:
path[10]

'8:06AM'